<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
        <img class="bg" src="../static/bg.png" alt="bg.png">
        <div class="sortNameHead">Subbu-Bot</div>
    <div class="chat-container">
        <div class="chat-box" id="chat-box"></div>
        <div class="user-control">
        <input type="text" id="user-input" placeholder="Type a message...">
        <div class="user-control-btns">
        <button class="btns" onclick="sendMessage()">Send</button>
        <button class="btns" onclick="clearChat()">Clear</button>
    </div>
    </div>
    </div>
    <span class="animate-ping"></span>
    <img src="../static/chatbot.png" class="animate-bounce" alt="bot.png" />
    <div class="options">
        <div class="sign">
            I_<span class="fast-flicker">Can_H</span>elp<span class="flicker">_in</span>:
          </div>
        <button class='sortBtn' onclick="sendRelatedMessage('Can i know medics for Asthma')" >Can i know medics for Asthma</button>
        <button class='sortBtn' onclick="sendRelatedMessage('What are symptoms of Diabetes')" >What are symptoms of Diabetes</button>
        <button class='sortBtn' onclick="sendRelatedMessage('Do you have remedy for cuts')" >Do you have remedy for cuts</button>
        <button class='sortBtn' onclick="sendRelatedMessage('In what diseases can i take Anastrozole')" >In what diseases can i take Anastrozole</button>
        <button class='sortBtn' onclick="sendRelatedMessage('Subbu, high fever, thick saliva, dry cough, weakness imply which disease?')" >Subbu, high fever, thick saliva, dry cough, weakness imply which disease?</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
